<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Engine Repo</title>
</head>
<body>
    <h1 id="indexTitle">Engine Repo</h1>
    <h2> Buy or sell an exotic machine with ease</h2>>
<nav>
    <form action="/passengerVehicle/new">
        <input class="navi" type="submit" value="ADD NEW" />
      </form>
</nav>
<ul id="index">
    <% passengerVehicles.sort((a, b) => a.model.localeCompare(b.model)).forEach(passengerVehicle => { %>
    <li>
        <a href="/passengerVehicle/<%=passengerVehicle._id; %>"> <img class="indexImg" src="<%= passengerVehicle.img %>" title="<%= passengerVehicle.model %>"> </a>
        <br/>
    </li>
    <% }) %>
</ul>
</body>
</html>