<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>

    <div id="flex-container">
        <form action="/new/" method="post">
            <label for="author">Author:</label>
            <input type="text" name="author"/>
            <label for="content">Content:</label>
            <textarea name="content"></textarea>
            <label for="starDate">Star Date:</label>
            <input type="number" name="starDate" value="12022" />
            <button type="submit">Log Entry</button>
        </form>
    </div>

</body>

</html>