/* *{
    border:rgb(255, 0, 0) dotted;
} */
.staticNav {
    overflow: hidden ;
  background-image: url('../navBanner/lamboBanner2.jpg');
  background-position: center; /* Center the image */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.header{
    font-family: 'Faster One', cursive;
}


body {
    margin-top:200px;
    background: linear-gradient(354deg, rgba(255,255,255,1) 0%, rgba(114,114,114,1) 29%, rgba(0,0,0,1) 82%, rgba(0,0,0,1) 85%); 
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
}

#flex-container2{
    display: flex;
    justify-items:center;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 25vw;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none;
    color: rgb(245, 59, 59);    }

a:active { text-decoration: none; }

a { color: inherit; } 


#modal {
    background-color: rgba(94, 94, 94, 0.9);
    position: fixed;
    top: 30%;
    left: 35%;
    width: 25%;
    z-index: 1;
    overflow: auto;
    display: none;
    border: groove rgb(255, 255, 255);
    justify-content: center;
    padding: 100px 10px;
        
}

#modal-footer {
    justify-content: bottom;
}

.cardContainer {
    width: 80vw;
    display: flex;
    justify-content: center;
    padding-left: 20%;
}

#cardDimensions{
    max-height:600px;
    max-width: 550px;
    
}
#imageDimensions{
    max-height: 450px;
    max-width:548px;
}
.imageContainer{
    height: 450px;
    width: 550px;
}

#vehicle {
    display: flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0, .7) ;
    flex-grow: 4;
    padding: 0 0 0 0;
    backdrop-filter: blur(5px);
    
    
    
    
}

#vehShow {
    
    max-height: 650px;
    max-width:650px;
    align-self: center;
}

