.staticNav {
    overflow: hidden ;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.header{
    font-family: 'Faster One', cursive;
}


body {
    margin-top:200px;
    background-color: black;
    color: whitesmoke;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none;
    color: rgb(245, 59, 59);    }

a:active { text-decoration: none; }

a { color: inherit; } 


#modal {
    background-color: rgba(94, 94, 94, 0.9);
    position: fixed;
    top: 0%;
    left: 15%;
    height: 75%;
    width: 75%;
    z-index: 1;
    overflow: auto;
    display: none;
    border: groove rgb(255, 255, 255);
    justify-content: center;
    padding: 250px 50px;
        
}

#modal-footer {
    justify-content: bottom;
}